# =========================
# Firebase
# =========================

.firebase/
firebase-debug.log
firebase-debug.*.log


# =========================
# Node / NPM
# =========================

node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*


# =========================
# Environment files
# =========================

.env
.env.*
!.env.example


# =========================
# Editor files
# =========================

.vscode/
.idea/

*.code-workspace


# =========================
# Windows / macOS
# =========================

Thumbs.db
Desktop.ini

.DS_Store


# =========================
# Temporary files
# =========================

*.tmp
*.temp
*.log

~*
*.bak


# =========================
# Build / cache
# =========================

.cache/
dist/
build/


# =========================
# Local tools
# =========================

.python-version
__pycache__/
*.pyc